@import url(../fonts/dancin.ttf);
@import url(../fonts/fuggle.ttf);
@import url(../fonts/RockSalt.ttf);

@font-face {
  font-family: dancin;
  src: url(../fonts/dancin.ttf);
}

@font-face {
  font-family: fuggle;
  src: url(../fonts/fuggle.ttf);
}


@font-face {
  font-family: ROCK;
  src: url(../fonts/RockSalt.ttf);
}