.cuerporecetas{
  background-image: inherit;
}
.recetas{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
    




  .titulo__recetas{
    display: flex;
    font-size: 40px;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    text-decoration:underline;

  }
  .rctimg{
    display: flex;
    width: 300px;
    padding: 1rem;
    flex-direction: row;
    justify-content: end; 
    

  }
  p{
    
    font-size: 30px;
    font-family: dancin;
    max-width: 650px;
    text-align:justify;
    
  }
}