.fajita{
  grid-area: "fajita";
}
.molde{
  grid-area: "molde";
}
.arabe{
  grid-area: "arabe";
}
.flauta{
  grid-area:"flauta";
}



.carta{
  display: grid;
  background-color: grey;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "molde  flauta"
  "arabe  fajita";
  align-items: center;
  padding: 1rem;
}
.foto{
  width: 300px;
  min-height: 300px;
  border: 2px solid yellow;
}
.titulo_tarjeta{
  padding: 1rem;
}